:host {
  display: block;
  font-family: var(--co-font-family-sans);
  color: var(--co-color-text-default);
}

.form-field__label {
  color: var(--co-color-text-default);
  font-size: var(--co-typography-label-size);
  font-weight: var(--co-typography-label-weight);
  line-height: var(--co-typography-label-line-height);
  margin-block-end: var(--co-space-1);
}

.form-field__help-text {
  color: var(--co-color-text-secondary);
  font-size: var(--co-typography-caption-size);
  line-height: var(--co-typography-caption-line-height);
}

.checkbox-group__options {
  display: flex;
  flex-direction: column;
  gap: var(--co-space-1);
  padding-block: var(--co-space-2);
}

:host([disabled]) {
  opacity: var(--co-opacity-disabled);
  pointer-events: none;
}

.form-field__feedback {
  color: var(--co-color-feedback-danger-text);
  font-size: var(--co-typography-caption-size);
  line-height: var(--co-typography-caption-line-height);
  min-block-size: var(--co-font-line-height-normal);
}
