:host {
  display: block;
  inline-size: 100%;
  box-sizing: border-box;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  min-block-size: var(--co-component-banner-height);
  padding: var(--co-component-banner-padding);
  box-sizing: border-box;
  background: var(--co-component-banner-background);
  color: var(--co-component-banner-foreground);
  font-family: var(--co-font-family-sans);
  font-size: var(--co-font-size-p);
  line-height: var(--co-font-line-height-normal);
}

.banner__title {
  font-weight: var(--co-component-banner-title-weight);
  text-transform: uppercase;
  letter-spacing: var(--co-font-tracking-wide);
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
