@use '@cobalt/tokens/scss' as co;
@use '@cobalt/tokens/scss/css';

.profile-card {
  color: var(--co-color-text-default);
  background: var(--co-color-surface-static-raised);
  border: var(--co-border-width-container) solid var(--co-color-border-default);
  border-radius: var(--co-shape-radius-md);
  padding: co.space('inset.md');
  color: var(--co-color-text-on-secondary)

  &__title {
    color: var(--co-color-text-heading);
    font-size: var(--co-font-size-h5);
    color: var(--co-color-text-secondary);
  }
}
